<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    Флэшкарточкер
  </head>

  <body>
  <li><%= link_to "Все карточки"%></li>
  <li><%= link_to "Добавить карточку" %></li>
  </body>

  <body>
    <%= yield %>
  </body>

</html>
